{% extends 'shop/base.html' %}
{% load static %}

{% block content  %}
{% for product in products %}
    <div class="container mb-5">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h5>{{ product.name }}</h5>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.path }}" width="360">
                </a>
                <br>
                <h6 class="btn-outline-info">{{ product.price }} Руб.</h6>
                <br>
                <form>
                      <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}