{% extends 'shop/base.html' %}
{% load static %}

{% block content  %}

    <div class="container mb-5">
    <!-- Example row of columns -->
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <h5>{{ product.name }}</h5>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" width="360">
                </a>
                <br>
                <h6 class="btn-outline-info">{{ product.price }} Руб.</h6>
                <br>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
          <input type="submit" class="btn btn-secondary" value="Купить">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <nav>
    <div>
    <ul align="center">
          {% if prev_page_url %}<a class="button button-primary" href="{{ prev_page_url }}">⟵</a>{% endif %}
    <a class="button disabled" href="">{{ current_page }}</a>
    {% if next_page_url %}<a class="button button-primary" href="{{ next_page_url }}">⟶</a>{% endif %}
    </ul>
    </div>
    </nav>

{% endblock %}