{% extends 'shop/base2.html' %}

{% block title %}
    Авторизация
{% endblock title %}


{% block content %}
    <div class="container">
    <h1>Авторизуйтесь</h1>
{% if form.errors %}
    <p> Логин или пароль указан неверно</p>
    {% else %}
    <p>Заполните поля для входа:</p>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'users:login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" value="{{ next }}" />
        <p><input type="submit" value="Войти"></p>
    </form>
        <h2>Если вы еще не зарегистрированы, то <a href="{% url 'users:register' %}">ЗАРЕГИСТРИРУЙТЕСЬ</a> </h2>
    </div>
    </div>
{% endblock content %}
