{% extends 'shop/blank2.html' %}
{% load static %}


{% block title %}
    Страница авторизации
{% endblock title %}

{% block content %}
<div class="form-signin container">

<h3> Войдите, чтобы использовать все возможности: </h3>



    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-lg btn-success" type="submit">Войти</button>
    </form>

<p>Если вы еще не зарегистрированы, то <a href="{% url 'users:register' %}">Зарегистрируйтесь</a></p>

</div>
{% endblock content %}